@import url('./normalize.css');
@import url('./variables.css');
@import url('./fonts/index.css');
@import url('./helpers/font-size.css');
@import url('./helpers/font-weight.css');
@import url('./helpers/display.css');
@import url('./helpers/margin.css');
@import url('./helpers/padding.css');
@import url('./helpers/line-height.css');
@import url('./helpers/flex.css');
@import url('./helpers/color.css');
@import url('./helpers/others.css');
@import url('./helpers/position.css');
@import url('./helpers/white-space.css');
@import url('./helpers/text.css');
@import url('./helpers/border.css');
@import url('./helpers/border-radius.css');
@import url('./helpers/gap.css');
@import url('./helpers/grid.css');

* {
  -webkit-tap-highlight-color: rgb(0 0 0 / 5%);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: var(--body-font-family);
  color: var(--color-text);
  font-weight: var(--font-weight-normal);
  background-color: var(--color-white);
}

a {
  text-decoration: none;
}

/* Customize scrollbar */
body::-webkit-scrollbar-thumb {
  border-radius: 0;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #dbdfe1;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--color-white);
}

pre {
  border-radius: 16px !important;
  padding: 18px 0 18px 20px !important;
}

body.dark-mode, body.dark-mode .sticky {
  background-color: var(--color-dark);
}

body.dark-mode div, body.dark-mode span{
  color: var(--color-white)
}