@font-face {
  font-family: "Gilroy";
  src: url("./Montserrat-Ace-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Montserrat-Ace-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Montserrat-Ace-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}