.root {
  word-break: break-word;
}

.root img {
  max-width: 100%;
}

.root > div {
  margin: 0 0 16px 0;
}

.root hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0;
}

.root > *:last-child {
  margin-bottom: 0;
}

.root ul,
.root ol {
  margin-top: 0;
  margin-bottom: 16px;
  padding-inline: 20px;
}

.root a {
  outline: 0;
  color: var(--color-primary);
  text-decoration: none;
}

.root a:focus-visible {
  box-shadow: var(--shadow-outline);
}
