.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.gap-40 {
  gap: 40px;
}

.gap-64 {
  gap: 64px;
}

.grow-1 {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

.shrink-1 {
  flex-shrink: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

.order-1 {
  order: 1;
}

.order-0 {
  order: 0;
}

@mixin media xs {
  .d-xs-flex {
    display: flex;
  }
  
  .d-xs-block {
    display: block;
  }

  .d-xs-none {
    display: none;
  }
  
  .flex-xs-column {
    flex-direction: column;
  }
  
  .flex-xs-row {
    flex-direction: row;
  }
  
  .justify-xs-start {
    justify-content: flex-start;
  }

  .justify-xs-center {
    justify-content: center;
  }
  
  .justify-xs-end {
    justify-content: flex-end;
  }
  
  .justify-xs-between {
    justify-content: space-between;
  }
  
  .align-xs-start {
    align-items: flex-start;
  }
  
  .align-xs-end {
    align-items: flex-end;
  }
  
  .align-xs-center {
    align-items: center;
  }

  .align-xs-baseline {
    align-items: baseline;
  }
  
  .gap-xs-4 {
    gap: 4px;
  }
  
  .gap-xs-8 {
    gap: 8px;
  }
  
  .gap-xs-12 {
    gap: 12px;
  }
  
  .gap-xs-16 {
    gap: 16px;
  }
  
  .gap-xs-24 {
    gap: 24px;
  }

  .gap-xs-32 {
    gap: 32px;
  }

  .gap-xs-40 {
    gap: 40px;
  }

  .grow-xs-1 {
    flex-grow: 1;
  }
  
  .grow-xs-0 {
    flex-grow: 0;
  }
  
  .shrink-xs-1 {
    flex-shrink: 1;
  }
  
  .shrink-xs-0 {
    flex-shrink: 0;
  }

  .order-xs-1 {
    order: 1;
  }
  
  .order-xs-0 {
    order: 0;
  }
}

@mixin media sm {
  .d-sm-flex {
    display: flex;
  }

  .d-sm-block {
    display: block;
  }
  
  .d-sm-none {
    display: none;
  }
  
  .flex-sm-column {
    flex-direction: column;
  }
  
  .flex-sm-row {
    flex-direction: row;
  }
  
  .justify-sm-start {
    justify-content: flex-start;
  }

  .justify-sm-center {
    justify-content: center;
  }
  
  .justify-sm-end {
    justify-content: flex-end;
  }
  
  .justify-sm-between {
    justify-content: space-between;
  }
  
  .align-sm-start {
    align-items: flex-start;
  }
  
  .align-sm-end {
    align-items: flex-end;
  }
  
  .align-sm-center {
    align-items: center;
  }

  .align-sm-baseline {
    align-items: baseline;
  }
  
  .gap-sm-4 {
    gap: 4px;
  }
  
  .gap-sm-8 {
    gap: 8px;
  }
  
  .gap-sm-12 {
    gap: 12px;
  }
  
  .gap-sm-16 {
    gap: 16px;
  }
  
  .gap-sm-24 {
    gap: 24px;
  }

  .gap-sm-32 {
    gap: 32px;
  }

  .gap-sm-40 {
    gap: 40px;
  }

  .grow-sm-1 {
    flex-grow: 1;
  }
  
  .grow-sm-0 {
    flex-grow: 0;
  }
  
  .shrink-sm-1 {
    flex-shrink: 1;
  }
  
  .shrink-sm-0 {
    flex-shrink: 0;
  }

  .order-sm-1 {
    order: 1;
  }
  
  .order-sm-0 {
    order: 0;
  }
}

@mixin media md {
  .d-md-flex {
    display: flex;
  }

  .d-md-block {
    display: block;
  }
  
  .d-md-none {
    display: none;
  }
  
  .flex-md-column {
    flex-direction: column;
  }
  
  .flex-md-row {
    flex-direction: row;
  }
  
  .justify-md-start {
    justify-content: flex-start;
  }

  .justify-md-center {
    justify-content: center;
  }
  
  .justify-md-end {
    justify-content: flex-end;
  }
  
  .justify-md-between {
    justify-content: space-between;
  }
  
  .align-md-start {
    align-items: flex-start;
  }
  
  .align-md-end {
    align-items: flex-end;
  }
  
  .align-md-center {
    align-items: center;
  }

  .align-md-baseline {
    align-items: baseline;
  }
  
  .gap-md-4 {
    gap: 4px;
  }
  
  .gap-md-8 {
    gap: 8px;
  }
  
  .gap-md-12 {
    gap: 12px;
  }
  
  .gap-md-16 {
    gap: 16px;
  }
  
  .gap-md-24 {
    gap: 24px;
  }

  .gap-md-32 {
    gap: 32px;
  }

  .gap-md-40 {
    gap: 40px;
  }

  .grow-md-1 {
    flex-grow: 1;
  }
  
  .grow-md-0 {
    flex-grow: 0;
  }
  
  .shrink-md-1 {
    flex-shrink: 1;
  }
  
  .shrink-md-0 {
    flex-shrink: 0;
  }

  .order-md-1 {
    order: 1;
  }
  
  .order-md-0 {
    order: 0;
  }
}

@mixin media lg {
  .d-lg-flex {
    display: flex;
  }

  .d-lg-block {
    display: block;
  }
  
  .d-lg-none {
    display: none;
  }
  
  .flex-lg-column {
    flex-direction: column;
  }
  
  .flex-lg-row {
    flex-direction: row;
  }
  
  .justify-lg-start {
    justify-content: flex-start;
  }

  .justify-lg-center {
    justify-content: center;
  }
  
  .justify-lg-end {
    justify-content: flex-end;
  }
  
  .justify-lg-between {
    justify-content: space-between;
  }
  
  .align-lg-start {
    align-items: flex-start;
  }
  
  .align-lg-end {
    align-items: flex-end;
  }
  
  .align-lg-center {
    align-items: center;
  }

  .align-lg-baseline {
    align-items: baseline;
  }
  
  .gap-lg-4 {
    gap: 4px;
  }
  
  .gap-lg-8 {
    gap: 8px;
  }
  
  .gap-lg-12 {
    gap: 12px;
  }
  
  .gap-lg-16 {
    gap: 16px;
  }
  
  .gap-lg-24 {
    gap: 24px;
  }

  .gap-lg-32 {
    gap: 32px;
  }

  .gap-lg-40 {
    gap: 40px;
  }

  .grow-lg-1 {
    flex-grow: 1;
  }
  
  .grow-lg-0 {
    flex-grow: 0;
  }
  
  .shrink-lg-1 {
    flex-shrink: 1;
  }
  
  .shrink-lg-0 {
    flex-shrink: 0;
  }

  .order-lg-1 {
    order: 1;
  }
  
  .order-lg-0 {
    order: 0;
  }
}

@mixin media xl {
  .d-xl-flex {
    display: flex;
  }

  .d-xl-block {
    display: block;
  }
  
  .d-xl-none {
    display: none;
  }
  
  .flex-xl-column {
    flex-direction: column;
  }
  
  .flex-xl-row {
    flex-direction: row;
  }
  
  .justify-xl-start {
    justify-content: flex-start;
  }

  .justify-xl-center {
    justify-content: center;
  }
  
  .justify-xl-end {
    justify-content: flex-end;
  }
  
  .justify-xl-between {
    justify-content: space-between;
  }
  
  .align-xl-start {
    align-items: flex-start;
  }
  
  .align-xl-end {
    align-items: flex-end;
  }
  
  .align-xl-center {
    align-items: center;
  }

  .align-xl-baseline {
    align-items: baseline;
  }
  
  .gap-xl-4 {
    gap: 4px;
  }
  
  .gap-xl-8 {
    gap: 8px;
  }
  
  .gap-xl-12 {
    gap: 12px;
  }
  
  .gap-xl-16 {
    gap: 16px;
  }
  
  .gap-xl-24 {
    gap: 24px;
  }

  .gap-xl-32 {
    gap: 32px;
  }

  .gap-xl-40 {
    gap: 40px;
  }

  .grow-xl-1 {
    flex-grow: 1;
  }
  
  .grow-xl-0 {
    flex-grow: 0;
  }
  
  .shrink-xl-1 {
    flex-shrink: 1;
  }
  
  .shrink-xl-0 {
    flex-shrink: 0;
  }

  .order-xl-1 {
    order: 1;
  }
  
  .order-xl-0 {
    order: 0;
  }
}