.size-8 {
  font-size: 8px;
}

.size-10 {
  font-size: 10px;
}

.size-12 {
  font-size: 12px;
}

.size-14 {
  font-size: 14px;
}

.size-16 {
  font-size: 16px;
}

.size-20 {
  font-size: 20px;
}

.size-24 {
  font-size: 24px;
}

.size-25 {
  font-size: 25px;
}

.size-26 {
  font-size: 26px;
}

.size-28 {
  font-size: 28px;
}

.size-31 {
  font-size: 31px;
}

.size-32 {
  font-size: 32px;
}

.size-35 {
  font-size: 35px;
}

.size-38 {
  font-size: 38px;
}

.size-39 {
  font-size: 39px;
}

.size-40 {
  font-size: 40px;
}

.size-48 {
  font-size: 48px;
}

.size-08-em {
  font-size: 0.8em
}

.size-1-em {
  font-size: 1em
}

.size-2-em {
  font-size: 2em
}

@mixin media xs {
  .size-xs-8 {
    font-size: 8px;
  }

  .size-xs-10 {
    font-size: 10px;
  }
  
  .size-xs-12 {
    font-size: 12px;
  }

  .size-xs-14 {
    font-size: 14px;
  }
  
  .size-xs-16 {
    font-size: 16px;
  }
  
  .size-xs-20 {
    font-size: 20px;
  }
  
  .size-xs-24 {
    font-size: 24px;
  }

  .size-xs-25 {
    font-size: 25px;
  }
  
  .size-xs-26 {
    font-size: 26px;
  }

  .size-xs-28 {
    font-size: 28px;
  }

  .size-xs-31 {
    font-size: 31px;
  }
  
  .size-xs-32 {
    font-size: 32px;
  }

  .size-xs-35 {
    font-size: 35px;
  }

  .size-xs-38 {
    font-size: 38px;
  }

  .size-xs-39 {
    font-size: 39px;
  }
  
  .size-xs-40 {
    font-size: 40px;
  }
  
  .size-xs-48 {
    font-size: 48px;
  }
}

@mixin media sm {
  .size-sm-8 {
    font-size: 8px;
  }

  .size-sm-10 {
    font-size: 10px;
  }
  
  .size-sm-12 {
    font-size: 12px;
  }

  .size-sm-14 {
    font-size: 14px;
  }
  
  .size-sm-16 {
    font-size: 16px;
  }
  
  .size-sm-20 {
    font-size: 20px;
  }
  
  .size-sm-24 {
    font-size: 24px;
  }

  .size-sm-25 {
    font-size: 25px;
  }
  
  .size-sm-26 {
    font-size: 26px;
  }

  .size-sm-28 {
    font-size: 28px;
  }

  .size-sm-31 {
    font-size: 31px;
  }
  
  .size-sm-32 {
    font-size: 32px;
  }

  .size-sm-35 {
    font-size: 35px;
  }

  .size-sm-38 {
    font-size: 38px;
  }

  .size-sm-39 {
    font-size: 39px;
  }
  
  .size-sm-40 {
    font-size: 40px;
  }
  
  .size-sm-48 {
    font-size: 48px;
  }
}

@mixin media md {
  .size-md-8 {
    font-size: 8px;
  }

  .size-md-10 {
    font-size: 10px;
  }
  
  .size-md-12 {
    font-size: 12px;
  }
  
  .size-md-16 {
    font-size: 16px;
  }

  .size-md-14 {
    font-size: 14px;
  }
  
  .size-md-20 {
    font-size: 20px;
  }
  
  .size-md-24 {
    font-size: 24px;
  }

  .size-md-25 {
    font-size: 25px;
  }
  
  .size-md-26 {
    font-size: 26px;
  }

  .size-md-28 {
    font-size: 28px;
  }

  .size-md-31 {
    font-size: 31px;
  }
  
  .size-md-32 {
    font-size: 32px;
  }

  .size-md-35 {
    font-size: 35px;
  }

  .size-md-38 {
    font-size: 38px;
  }

  .size-md-39 {
    font-size: 39px;
  }
  
  .size-md-40 {
    font-size: 40px;
  }
  
  .size-md-48 {
    font-size: 48px;
  }
}

@mixin media lg {
  .size-lg-8 {
    font-size: 8px;
  }

  .size-lg-10 {
    font-size: 10px;
  }
  
  .size-lg-12 {
    font-size: 12px;
  }

  .size-lg-14 {
    font-size: 14px;
  }
  
  .size-lg-16 {
    font-size: 16px;
  }
  
  .size-lg-20 {
    font-size: 20px;
  }
  
  .size-lg-24 {
    font-size: 24px;
  }

  .size-lg-25 {
    font-size: 25px;
  }
  
  .size-lg-26 {
    font-size: 26px;
  }

  .size-lg-28 {
    font-size: 28px;
  }

  .size-lg-31 {
    font-size: 31px;
  }
  
  .size-lg-32 {
    font-size: 32px;
  }

  .size-lg-35 {
    font-size: 35px;
  }

  .size-lg-38 {
    font-size: 38px;
  }

  .size-lg-39 {
    font-size: 39px;
  }
  
  .size-lg-40 {
    font-size: 40px;
  }
  
  .size-lg-48 {
    font-size: 48px;
  }
}

@mixin media xl {
  .size-xl-8 {
    font-size: 8px;
  }

  .size-xl-10 {
    font-size: 10px;
  }
  
  .size-xl-12 {
    font-size: 12px;
  }

  .size-xl-14 {
    font-size: 14px;
  }
  
  .size-xl-16 {
    font-size: 16px;
  }
  
  .size-xl-20 {
    font-size: 20px;
  }
  
  .size-xl-24 {
    font-size: 24px;
  }

  .size-xl-25 {
    font-size: 25px;
  }
  
  .size-xl-26 {
    font-size: 26px;
  }

  .size-xl-28 {
    font-size: 28px;
  }

  .size-xl-31 {
    font-size: 31px;
  }
  
  .size-xl-32 {
    font-size: 32px;
  }

  .size-xl-35 {
    font-size: 35px;
  }

  .size-xl-38 {
    font-size: 38px;
  }

  .size-xl-39 {
    font-size: 39px;
  }
  
  .size-xl-40 {
    font-size: 40px;
  }
  
  .size-xl-48 {
    font-size: 48px;
  }
}