.lh-16 {
  line-height: 16px;
}

.lh-18 {
  line-height: 18px;
}

.lh-20 {
  line-height: 20px;
}

.lh-21 {
  line-height: 21px;
}

.lh-22 {
  line-height: 22px;
}

.lh-24 {
  line-height: 24px;
}

.lh-25 {
  line-height: 25px;
}

.lh-26 {
  line-height: 26px;
}

.lh-30 {
  line-height: 30px;
}

.lh-31 {
  line-height: 31px;
}

.lh-39 {
  line-height: 39px;
}

.lh-40 {
  line-height: 40px;
}

.lh-49 {
  line-height: 49px;
}

.lh-125 {
  line-height: 125%;
}

.lh-150 {
  line-height: 150%;
}

@mixin media xs {
  .lh-xs-16 {
    line-height: 16px;
  }

  .lh-xs-18 {
    line-height: 18px;
  }
  
  .lh-xs-20 {
    line-height: 20px;
  }

  .lh-xs-21 {
    line-height: 21px;
  }
  
  .lh-xs-22 {
    line-height: 22px;
  }
  
  .lh-xs-24 {
    line-height: 24px;
  }
  
  .lh-xs-26 {
    line-height: 26px;
  }
  
  .lh-xs-30 {
    line-height: 30px;
  }

  .lh-xs-31 {
    line-height: 31px;
  }

  .lh-xs-39 {
    line-height: 39px;
  }
  
  .lh-xs-40 {
    line-height: 40px;
  }

  .lh-xs-125 {
    line-height: 125%;
  }
  
  .lh-xs-150 {
    line-height: 150%;
  }
}

@mixin media sm {
  .lh-sm-16 {
    line-height: 16px;
  }

  .lh-sm-18 {
    line-height: 18px;
  }
  
  .lh-sm-20 {
    line-height: 20px;
  }

  .lh-sm-21 {
    line-height: 21px;
  }
  
  .lh-sm-22 {
    line-height: 22px;
  }
  
  .lh-sm-24 {
    line-height: 24px;
  }

  .lh-sm-25 {
    line-height: 25px;
  }

  .lh-sm-26 {
    line-height: 26px;
  }
  
  .lh-sm-30 {
    line-height: 30px;
  }

  .lh-sm-31 {
    line-height: 31px;
  }

  .lh-sm-39 {
    line-height: 39px;
  }
  
  .lh-sm-40 {
    line-height: 40px;
  }
  
  .lh-sm-125 {
    line-height: 125%;
  }
  
  .lh-sm-150 {
    line-height: 150%;
  }
}

@mixin media md {
  .lh-md-16 {
    line-height: 16px;
  }

  .lh-md-18 {
    line-height: 18px;
  }
  
  .lh-md-20 {
    line-height: 20px;
  }

  .lh-md-21 {
    line-height: 21px;
  }
  
  .lh-md-22 {
    line-height: 22px;
  }
  
  .lh-md-24 {
    line-height: 24px;
  }

  .lh-md-25 {
    line-height: 25px;
  }
  
  .lh-md-26 {
    line-height: 26px;
  }

  .lh-md-26 {
    line-height: 26px;
  }
  
  .lh-md-30 {
    line-height: 30px;
  }

  .lh-md-31 {
    line-height: 31px;
  }

  .lh-md-39 {
    line-height: 39px;
  }
  
  .lh-md-40 {
    line-height: 40px;
  }

  .lh-md-49 {
    line-height: 49px;
  }
  
  .lh-md-125 {
    line-height: 125%;
  }
  
  .lh-md-150 {
    line-height: 150%;
  }
}

@mixin media lg {
  .lh-lg-16 {
    line-height: 16px;
  }

  .lh-lg-18 {
    line-height: 18px;
  }
  
  .lh-lg-20 {
    line-height: 20px;
  }

  .lh-lg-21 {
    line-height: 21px;
  }
  
  .lh-lg-22 {
    line-height: 22px;
  }
  
  .lh-lg-24 {
    line-height: 24px;
  }

  .lh-lg-25 {
    line-height: 25px;
  }
  
  .lh-lg-26 {
    line-height: 26px;
  }
  
  .lh-lg-30 {
    line-height: 30px;
  }

  .lh-lg-31 {
    line-height: 31px;
  }

  .lh-lg-39 {
    line-height: 39px;
  }
  
  .lh-lg-40 {
    line-height: 40px;
  }
  
  .lh-lg-125 {
    line-height: 125%;
  }
  
  .lh-lg-150 {
    line-height: 150%;
  }
}

@mixin media xl {
  .lh-xl-16 {
    line-height: 16px;
  }

  .lh-xl-18 {
    line-height: 18px;
  }
  
  .lh-xl-20 {
    line-height: 20px;
  }

  .lh-xl-21 {
    line-height: 21px;
  }
  
  .lh-xl-22 {
    line-height: 22px;
  }
  
  .lh-xl-24 {
    line-height: 24px;
  }

  .lh-xl-25 {
    line-height: 25px;
  }
  
  .lh-xl-26 {
    line-height: 26px;
  }
  
  .lh-xl-30 {
    line-height: 30px;
  }

  .lh-xl-31 {
    line-height: 31px;
  }
  
  .lh-xl-40 {
    line-height: 40px;
  }
  
  .lh-xl-125 {
    line-height: 125%;
  }
  
  .lh-xl-150 {
    line-height: 150%;
  }
}