@each $value in 16, 18, 20, 21, 22, 24, 25, 26, 30, 31, 39, 40, 49 {
  .lh-$(value) {
    line-height: $(value)px;
  }
}

@each $screen in xs, sm, md, lg, xl {
  @mixin media $screen {
    @each $value in 16, 18, 20, 21, 22, 24, 25, 26, 30, 31, 39, 40, 49 {
      .lh-$(screen)-$(value) {
        line-height: $(value)px;
      }
    }
  }
}

@each $value in 125, 150 {
  .lh-$(value) {
    line-height: $(value)%;
  }
}

@each $screen in xs, sm, md, lg, xl {
  @mixin media $screen {
    @each $value in 125, 150 {
      .lh-$(screen)-$(value) {
        line-height: $(value)%;
      }
    }
  }
}
