@each $value in auto, 0, 4, 6, 8, 10, 12, 14, 16, 18, 20, 24, 26, 28, 32, 40, 48, 64 {
  .mt-$(value) {
    margin-top: $(value)px;
  }

  .mb-$(value) {
    margin-bottom: $(value)px;
  }

  .ml-$(value) {
    margin-left: $(value)px;
  }

  .mr-$(value) {
    margin-right: $(value)px;
  }
}

@each $screen in xs, sm, md, lg, xl {
  @mixin media $screen {
    @each $value in auto, 0, 4, 6, 8, 10, 12, 14, 16, 18, 20, 24, 26, 28, 32, 40, 48, 64 {
      .mt-$(screen)-$(value) {
        margin-top: $(value)px;
      }
    
      .mb-$(screen)-$(value) {
        margin-bottom: $(value)px;
      }
    
      .ml-$(screen)-$(value) {
        margin-left: $(value)px;
      }
    
      .mr-$(screen)-$(value) {
        margin-right: $(value)px;
      }
    }
  }
}
