.clickable {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

.nowrap {
  white-space: nowrap;
}

.line-through {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.decoration-none {
  text-decoration: none;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.pointer {
  cursor: pointer;
}

.image-100 {
  width: 100% !important;
  height: 100% !important;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}