@font-face {
  font-family: "CircularWeb";
  src: url("./CircularWeb-Book.woff2") format("woff2"), url("./CircularWeb-Book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularWeb";
  src: url("./CircularWeb-Medium.woff2") format("woff2"), url("./CircularWeb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularWeb";
  src: url("./CircularWeb-Bold.woff2") format("woff2"), url("./CircularWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}